In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style
from sklearn import preprocessing
from sklearn import feature_selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as sm
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.ensemble import RandomForestRegressor

C:\Users\Tusha\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [27]:
sales_data = pd.read_csv("C:/Users/Tusha/OneDrive/Desktop/GL - DSE/ML/case study/train.csv")

In [28]:
sales_data.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [29]:
sales_data = pd.get_dummies(sales_data)

In [30]:
sales_data.head()

,Year,Month,Sales(In ThousandDollars),ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,2009,1,1755.0,0,0,1
1,2009,1,524.0,1,0,0
2,2009,1,936.0,0,1,0
3,2009,2,1729.0,0,0,1
4,2009,2,496.0,1,0,0

In [31]:
from sklearn.ensemble import AdaBoostRegressor

In [32]:
sales_data.isnull().sum()

Year                              0
Month                             0
Sales(In ThousandDollars)        10
ProductCategory_MenClothing       0
ProductCategory_OtherClothing     0
ProductCategory_WomenClothing     0
dtype: int64

In [33]:
sales_data.dropna(axis = 0, inplace = True)

In [34]:
sales_data.isnull().sum()

Year                             0
Month                            0
Sales(In ThousandDollars)        0
ProductCategory_MenClothing      0
ProductCategory_OtherClothing    0
ProductCategory_WomenClothing    0
dtype: int64

In [35]:
sales_data.shape

(170, 6)

In [36]:
x = sales_data.drop('Sales(In ThousandDollars)', axis = 1)
y = sales_data['Sales(In ThousandDollars)']

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
trainx, testx, trainy, testy = train_test_split(x,y, test_size = 0.3, random_state = 10)

In [39]:
from sklearn.model_selection import GridSearchCV

In [41]:
from sklearn.ensemble import AdaBoostRegressor

In [42]:
ada = AdaBoostRegressor()

In [43]:
param = {'n_estimators': [30,40,50,60,70,80], 'learning_rate' :[0.2,0.3,0.4,0.5,0.6,0.7,0.8],'loss':['linear', 'square', 'exponential']}

In [44]:
gs = GridSearchCV(estimator =ada, param_grid = param, scoring = 'r2', cv = 5)

In [45]:
gs.fit(trainx, trainy)

GridSearchCV(cv=5, estimator=AdaBoostRegressor(),
             param_grid={'learning_rate': [0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8],
                         'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [30, 40, 50, 60, 70, 80]},
             scoring='r2')

In [46]:
print(gs.best_params_)

{'learning_rate': 0.8, 'loss': 'linear', 'n_estimators': 80}

In [47]:
ada2 = AdaBoostRegressor(learning_rate = 0.8, loss = 'exponential', n_estimators = 80)

In [48]:
ada_predicted_test = ada2.fit(trainx, trainy).predict(testx)

In [49]:
ada_predicted_test

array([2829.44444444,  682.        , 1081.        ,  740.33333333,
       1057.83333333,  693.5       , 3365.36363636, 1063.16666667,
        693.5       ,  930.        ,  930.        , 1068.23529412,
       2691.75806452,  660.6       , 1051.33333333,  799.5       ,
       1196.        , 2638.70967742, 2829.44444444, 1016.66666667,
       3390.        , 1121.5       ,  708.        , 2841.375     ,
       2425.41666667,  829.81818182,  677.        , 1024.        ,
        708.        , 2680.42307692, 1100.        ,  659.33333333,
       2633.62962963, 3343.02439024, 3213.29850746, 1063.16666667,
       3213.29850746, 1180.        ,  682.        , 4546.47058824,
       1491.        , 1051.33333333,  803.        ,  983.66666667,
       3048.8       , 1121.5       , 1005.        ,  654.64285714,
       1188.        , 3197.35      , 2872.        ])

In [50]:
len(ada_predicted_test)

51

In [54]:
from sklearn.metrics import r2_score

In [55]:
r2_score(testy, ada_predicted_test)

0.9604517583252794

In [67]:
submission = pd.read_csv("C:/Users/Tusha/OneDrive/Desktop/GL - DSE/ML/case study/submission.csv")

In [68]:
submission.head(15)

    Year  Month ProductCategory  Unnamed: 3  Sales(In ThousandDollars)
0   2014      1   WomenClothing         NaN                        NaN
1   2014      1     MenClothing         NaN                        NaN
2   2014      1   OtherClothing         NaN                        NaN
3   2014      2   WomenClothing         NaN                        NaN
4   2014      2     MenClothing         NaN                        NaN
5   2014      2   OtherClothing         NaN                        NaN
6   2014      3   WomenClothing         NaN                        NaN
7   2014      3     MenClothing         NaN                        NaN
8   2014      3   OtherClothing         NaN                        NaN
9   2014      4   WomenClothing         NaN                        NaN
10  2014      4     MenClothing         NaN                        NaN
11  2014      4   OtherClothing         NaN                        NaN
12  2014      5   WomenClothing         NaN                        NaN
13  2014      5     MenClothing         NaN                        NaN
14  2014      5   OtherClothing         NaN                        NaN

In [69]:
submission.drop(['Unnamed: 3','Sales(In ThousandDollars)'], axis = 1, inplace = True)

In [70]:
submission = pd.get_dummies(submission)

In [71]:
submission.head()

,Year,Month,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,2014,1,0,0,1
1,2014,1,1,0,0
2,2014,1,0,1,0
3,2014,2,0,0,1
4,2014,2,1,0,0

In [72]:
submission.shape

(36, 5)

In [73]:
submission.isnull().sum()

Year                             0
Month                            0
ProductCategory_MenClothing      0
ProductCategory_OtherClothing    0
ProductCategory_WomenClothing    0
dtype: int64

In [74]:
ada_predicted_submit = ada2.predict(submission)

In [75]:
ada_predicted_submit

array([2872.        ,  677.        , 1063.16666667, 2872.        ,
        677.        , 1063.16666667, 3641.49180328,  710.        ,
       1180.        , 3728.81666667,  724.6       , 1187.64285714,
       3731.33333333,  740.33333333, 1188.        , 3703.94871795,
        753.        , 1196.        , 3698.88888889,  753.        ,
       1195.66666667, 3698.88888889,  798.        , 1196.        ,
       3698.88888889,  829.81818182, 1196.        , 3698.88888889,
        852.42857143, 1196.        , 3703.94871795,  930.        ,
       1286.        , 4706.66666667, 1081.        , 1482.        ])

In [76]:
len(ada_predicted_submit)

36

In [79]:
final_df = pd.DataFrame(ada_predicted_submit, columns = ['Target'])

In [81]:
final_df.head()

        Target
0  2872.000000
1   677.000000
2  1063.166667
3  2872.000000
4   677.000000

In [82]:
final_df.to_csv('ad_values.csv')

In [83]:
final_df.shape

(36, 1)

In [89]:
import xgboost as xgb

In [98]:
param2 = {'learning_rate':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1], 'max_depth' : [1,2,3,4,5,6,7,8,9], 'n_estimators' :[50,100,150,200]}

In [99]:
x = xgb.XGBRegressor()

In [100]:
gs2 = GridSearchCV(estimator =x, param_grid = param2, scoring = 'r2', cv = 5)

In [101]:
gs2.fit(trainx, trainy)

GridSearchCV(cv=5,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, gamma=None,
                                    gpu_id=None, importance_type='gain',
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_estimators=100, n_jobs=None,
                                    num_parallel_tree=None, random_state=None,
                                    reg_alpha=None, reg_lambda=None,
                                    scale_pos_weight=None, subsample=None,
                                    tree_method=None, validate_parameters=None,
                                    verbosity=None),
             param_grid={'learning_rate': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7,
                                           0.8, 0.9, 1],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9],
                         'n_estimators': [50, 100, 150, 200]},
             scoring='r2')

In [102]:
gs2.best_params_

{'learning_rate': 0.3, 'max_depth': 4, 'n_estimators': 200}

In [106]:
from xgboost import XGBRegressor

In [107]:
x2 = XGBRegressor(learning_rate = 0.3, max_depth = 4, n_estimators = 200)

In [108]:
x2_predicted_test = x2.fit(trainx, trainy).predict(testx)

In [109]:
r2_score(testy, x2_predicted_test)

0.9920211103774235

In [110]:
submission

,Year,Month,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,2014,1,0,0,1
1,2014,1,1,0,0
2,2014,1,0,1,0
3,2014,2,0,0,1
4,2014,2,1,0,0
5,2014,2,0,1,0
6,2014,3,0,0,1
7,2014,3,1,0,0
8,2014,3,0,1,0
9,2014,4,0,0,1
10,2014,4,1,0,0
11,2014,4,0,1,0
12,2014,5,0,0,1
13,2014,5,1,0,0
14,2014,5,0,1,0
15,2014,6,0,0,1
16,2014,6,1,0,0
17,2014,6,0,1,0
18,2014,7,0,0,1
19,2014,7,1,0,0
20,2014,7,0,1,0
21,2014,8,0,0,1
22,2014,8,1,0,0
23,2014,8,0,1,0
24,2014,9,0,0,1
25,2014,9,1,0,0
26,2014,9,0,1,0
27,2014,10,0,0,1
28,2014,10,1,0,0
29,2014,10,0,1,0
30,2014,11,0,0,1
31,2014,11,1,0,0
32,2014,11,0,1,0
33,2014,12,0,0,1
34,2014,12,1,0,0
35,2014,12,0,1,0

In [111]:
x_predicted_submit = x2.predict(submission)

In [112]:
final_df_x = pd.DataFrame(x_predicted_submit, columns = ['Target'])

In [113]:
final_df_x.to_csv('x_values.csv')

In [114]:
final_df_x.shape

(36, 1)